:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #000;
  font-family: Ubuntu, sans-serif;
  color:#000;

}

body {
  align-items: center;
  background-image:url("https://static01.nyt.com/images/2022/09/03/science/03nasamoon-scrub2/03nasamoon-scrub2-mobileMasterAt3x.jpg");
  background-size: cover;
  display: flex;
}

}

 #logo {

  transition: all 0.25s;
  filter: drop-shadow(0 0 0.75rem rgb(29, 69, 143));
}

#logo:hover {
  filter: drop-shadow(0 0 1rem rgb(93, 113, 151));
  transform: translateY(-0.25em);  
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size:xx-large;
  
}
